.main-section {
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(45deg, #6a0dad, #25183d, #6a0dad);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;

  .content {
    max-width: 800px;
    color: white;
    margin-top: 5rem;
    z-index: 2;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 16px;
      padding: 5px;

      @media only screen and (max-width: 600px) {
        font-size: 14px;
        padding: 20px;
      }
    }

    .cta-button {
      color: white;
      padding: 1.35rem 2.5rem;
      border: 2px solid white;
      border-radius: 50px;
      cursor: pointer;
      font-size: large;
      font-weight: 900;
      transition: background-color 0.3s;
      background: #011f5220;
      backdrop-filter: blur(8px);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .hero-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contract-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 10px;

  .contract-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff; /* White */
    text-align: center;
    margin-bottom: 1rem;
  }

  .address-container {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    /*White*/
    border-radius: 50px;
    padding: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    .address-box {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;

      .address-text {
        flex-grow: 1;
        color: #001f54; /* Navy Blue */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .copy-button {
        padding: 0.7rem 0.5rem;
        color: #ffffff;
        /*White*/
        background: rgba(106, 13, 173, 0.6);
        /*FrostyTransparentPurple*/
        border: none;
        border-radius: 50px;
        backdrop-filter: blur(8px);
        border: #6a0dad 2px solid;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background: rgba(
            106,
            13,
            173,
            0.8
          ); /* Slightly darker frosty purple */
        }
      }
    }
  }
}
